*.fasta
*.fastq
*.fna
*.gz
*.csv
*.kvmer
*.idx
output/
# tools
minimap2/
best
graphmap2
Winnowmap
kmc
KMC3.2.4.linux.x64
seqtk
genomescope2.0
yak
merylDB
# data
SRR*
ERR*
data/zymo
data/Mutational_spectra_data-v1

.vscode

*.png
*.idx
data/chrisruis-Mutational_spectra_data-58d4c19